<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt PDF</title>
    <link rel="stylesheet" href="/css/receiptPDF.css">
    <style>
        table {
    border-collapse: collapse;
    width: 100%;
}
thead,th{
    position: sticky;
    top: 0;
    
}
th, td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
    font-size: 12px;
}
th {
    background-color: #f2f2f2;
}
.p-head{
    display: inline-block;
    font-size: large;
    font-weight: bold;
    width: 45% !important;
    text-transform: capitalize;
}
.p-value, td{
    text-transform: capitalize;
}

    </style>
</head>
<body>
    <div class="main-body">
        <div class="pdf1">
            <h2 style="text-align: center;">Shree Veer Vidya Niketan School Shahpur</h2>
            <h4 style="text-align: center;">Run By : Shree Varni Shiksha Prasar Samiti Shahpur Dist Sagar Reg: 1583/96</h4>
            
            <div class="patient-info" style="margin-bottom: 2%;margin-left: 1%;display: flex;">
                <div style="width: 50%;">
                    
                    <div class="patient-data">
                        <label class="p-head" >Name :</label>
                        <label class="p-value"><%=student.FirstName%> <%=student.LastName%></label>
                    </div>
                    <div class="patient-data">
                        <label class="p-head">Father's Name :</label>
                        <label class="p-value"><%=student.FathersName%></label>
                    </div>
                </div>
                <div style="width: 50%;">
                    <div  class="patient-data">
                        <label class="p-head">AdmissionNo :</label>
                        <label class="p-value"><%=student.AdmissionNo%></label>
                    </div>
                    <div  class="patient-data">
                        <label class="p-head">Class : </label>
                        <label class="p-value"><%=student.Class%></label>
                    </div>
                </div>
                
                
            </div>
            <div class="itemsList">
                <table>
                    <thead>
                        <tr>
                            <th>Receipt No:</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Payment Date</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%let subtotal = 0%>
                            <tr>
                                <td><%=feeReport.Receipt_No%></td>
                                <td><%=feeReport.Comment%></td>
                                <td><%=feeReport.Amount%></td>
                                <td><%=String(feeReport.createdAt).substr(4,12)%></td>
                                <td><%=feeReport.Amount%></td>
                                
                            </tr>
                        <!-- Add more rows for additional items if needed -->
                    </tbody>
                    
                </table>
                <div style="margin-top: 1%;font-weight: bold;">
                    <span style="margin-left: 5%;margin-top: 4%;">Payee (Signature)</span>
                    <label style="margin-left: 65%;margin-top: 2%;">Recipient(Signature)</label>
                    <label for=""></label>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>