<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/marksheet-style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <div class="marksheet" id="marksheet">
        <div id="logo" style="margin-left: 4%;">
            <img style="margin-top: 5%; margin-bottom: 3%;" src="/schools/<%=SchoolCode%>/school-header.png" alt="school logo" srcset="" width="95%">
        </div>
        <div class="error-text">
            
        </div>
        
        <div class="student-info">
            <div class="col1">
                <% let months = ['null','January', 'February','March','April','May','June','July','August','September','October','November','December']%>
                <% let year = ['Nineteen','Two Thousands']%>
                <% let nums=["null","One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine", "Ten", "Eleven", "Twelve", "Thirteen", "Fourteen", "Fifteen", "Sixteen", "Seventeen", "Eighteen", "Nineteen", "Twenty", "Twenty-One", "Twenty-Two", "Twenty-Three", "Twenty-Four", "Twenty-Five", "Twenty-Six", "Twenty-Seven", "Twenty-Eight", "Twenty-Nine", "Thirty", "Thirty-One", "Thirty-Two", "Thirty-Three", "Thirty-Four", "Thirty-Five", "Thirty-Six", "Thirty-Seven", "Thirty-Eight", "Thirty-Nine", "Forty", "Forty-One", "Forty-Two", "Forty-Three", "Forty-Four", "Forty-Five", "Forty-Six", "Forty-Seven", "Forty-Eight", "Forty-Nine", "Fifty", "Fifty-One", "Fifty-Two", "Fifty-Three", "Fifty-Four", "Fifty-Five", "Fifty-Six", "Fifty-Seven", "Fifty-Eight", "Fifty-Nine", "Sixty", "Sixty-One", "Sixty-Two", "Sixty-Three", "Sixty-Four", "Sixty-Five", "Sixty-Six", "Sixty-Seven", "Sixty-Eight", "Sixty-Nine", "Seventy", "Seventy-One", "Seventy-Two", "Seventy-Three", "Seventy-Four", "Seventy-Five", "Seventy-Six", "Seventy-Seven", "Seventy-Eight", "Seventy-Nine", "Eighty", "Eighty-One", "Eighty-Two", "Eighty-Three", "Eighty-Four", "Eighty-Five", "Eighty-Six", "Eighty-Seven", "Eighty-Eight", "Eighty-Nine", "Ninety", "Ninety-One", "Ninety-Two", "Ninety-Three", "Ninety-Four", "Ninety-Five", "Ninety-Six", "Ninety-Seven", "Ninety-Eight", "Ninety-Nine"]%>
                <% let days=['null','First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth', 'Seventh', 'Eighth', 'Ninth', 'Tenth', 'Eleventh', 'Twelfth', 'Thirteenth', 'Fourteenth', 'Fifteenth', 'Sixteenth', 'Seventeenth', 'Eighteenth', 'Nineteenth', 'Twentieth', 'Twenty-first', 'Twenty-second', 'Twenty-third', 'Twenty-fourth', 'Twenty-fifth', 'Twenty-sixth', 'Twenty-seventh', 'Twenty-eighth', 'Twenty-ninth', 'Thirtieth', 'Thirty-first'] %>                <div class="dataset">
                    <label class="data-heading">विद्यार्थी का नाम :</label>
                    <label id="student_name"><b><%=student.FirstName%> <%=student.LastName%></b></label>
                </div>
                <div class="dataset">
                    <label class="data-heading">पिता का नाम :</label>
                    <label><b><%=student.FathersName%></b></label>
                </div>
                <div class="dataset">
                    <label class="data-heading">माता का नाम :</label>
                    <label><b><%=student.MothersName%></b></label>
                </div>
                <div class="dataset">
                    <label class="data-heading">आधार क्रमांक :</label>
                    <label><b><%=student.AadharNumber%></b></label>
                </div>
                <div class="dataset">
                    <label class="data-heading">समग्र आईडी :</label>
                    <label><b><%=student.SSSM%></b></label>
                </div>
                <!--
                <div class="dataset">
                    <label class="data-heading">Gender :</label>
                    <label><b><%=student.Gender%></b></label>
                </div>
                -->
            </div>
            <div class="col2">
                
                <div class="dataset">
                    <label class="data-heading">दाखिल क्रमांक :</label>
                    <label id="admno"><b><%=student.AdmissionNo%></b></label>
                </div>
                <div class="dataset">
                    <label class="data-heading">कक्षा :</label>
                    <label style="font-weight: 900;"><b><%=student.Class%></b></label>
                </div>
                <div class="dataset">
                    <label class="data-heading">जन्म तिथि :</label>
                    <% let DOB = student.DOB.split('-')%>
                    <label><b><%=DOB[2]%>-<%=DOB[1]%>-<%=DOB[0]%></b></label>
                </div>
                <div class="dataset">
                    <label class="data-heading">जन्म तिथि(शब्दो में) :</label>
                    <label style="font-size:14px;font-weight: bold;"><%=days[Number(DOB[2])]%> <%=months[Number(DOB[1])]%> <%=year[Number(DOB[0].substring(0,2)-19)]%> <%=nums[Number(DOB[0].substring(2))]%></label>
                </div>
                <div class="dataset">
                    <label class="data-heading">उत्तीर्ण सत्र:</label>
                    <label><b><%=student.Session%> - <%=student.Session + 1%></b></label>
                </div>
                <div class="dataset">
                    <label class="data-heading">परीक्षा का माध्यम :</label>
                    <label><b>हिंदी</b></label>
                </div>
                <!--
                <div class="dataset">
                    <label class="data-heading">परिणाम:</label>
                    <label><b><%=student.TotalGrade%></b></label>
                </div>
                -->
            </div>
        </div>
        <div style="display: flex;justify-content: space-between;">
            <div style="width: 62%;text-align: center; font-size: large; font-weight: bold;padding-bottom: 1%;margin-top: 2%;">शैक्षिक क्षेत्रों का मूल्यांकन</div>
            <div style="width: 35%;text-align: center;font-size: large; font-weight: bold;padding-bottom: 1%; margin-top: 2%;">व्यक्तिगत सामाजिक गुण</div>
        </div>
        <div class="result-section">
            <div class="scores" id="AcademicScore">
                <% termsMapping = {"Half-Yearly":"अर्द्धवार्षिक","Final":"वार्षिक","Project":"प्रोजेक्ट"} %>
                <%let grades=['F','F','F','F','F','F','F','D+','D+','D','C+','C','C','B+','B','B','A','A','A+','A+','A+']%>
                <table>
                    <thead>
                        <tr>
                            <th>विषय</th>
                            <%for(let i=0;i<terms.length;i++){%>
                                <th><%=termsMapping[terms[i]]%></th>
                            <%}%>
                            <th>प्राप्तांक(योग)</th>
                            <th>कुल</th>
                            <th>ग्रेड</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(let i=0;i<sub_list.length;i++){%>
                            <tr>
                                <td><%=subjectsMapping[sub_list[i]]%></td>
                                <%let sum = 0%>
                                <% let total = 0%>
                                <%for(let j=0;j<terms.length;j++){%>
                                    <%sum = sum + marks[terms[j]][sub_list[i]]%>
                                    <td><b><%=marks[terms[j]][sub_list[i]]%></b></td>
                                <%}%>
                                <td><b><%=sum%></b></td>
                                <td><b>100</b></td>
                                <td><b><%=grades[Math.ceil(sum/5)]%></b></td>
                            </tr>
                        <%}%>
                        
                        <tr>
                            <td>कुल योग</td>
                            <% let mysum = 0%>
                            
                            <% for(let i=0;i<terms.length;i++){%>
                                <%mysum = mysum + grandTotal[terms[i]]%>
                                <td><b><%=grandTotal[terms[i]]%></b></td>
                            <%}%>
                            <%let percent = (mysum/sub_list.length).toString().substring(0,5)%>
                            <td><b><%=mysum%></b></td>
                            <td><b><%=sub_list.length * 100 %></b></td>
                            <td>
                                <%if(percent > 85){%>
                                    <b>A+</b>
                                <%}else if(percent < 85 && percent >= 76){%>
                                    <b>A</b>
                                <%}else if(percent < 76 && percent >= 66){%>
                                    <b>B+</b>
                                <%}else if(percent < 66 && percent >= 56){%>
                                    <b>B</b>
                                <%}else if(percent < 56 && percent >= 51){%>
                                    <b>C+</b>
                                <%}else if(percent < 56 && percent >= 51){%>
                                    <b>C</b>
                                <%}else if(percent < 46 && percent >= 33){%>
                                    <b>D</b>
                                <%}else if(percent < 33 ){%>
                                    <b>F</b>
                                <%}else{%>
                                    <b>Invalid</b>
                                <%}%>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="scores" id="LiteraryScore">
                <% let subjects = Object.keys(addtionalMarks['MORAL']['_doc'])%>
                <% let hindiSubs = ["","नियमितता/समयबद्धता","स्वच्छता","कर्तव्यनिष्ठा","सहयोग की भावना","सत्यवादिता/ईमानदारी","पर्यावरण संवेदनशील"]%>
                
                <table>
                    <thead>
                        <th>क्षेत्र</th>
                        <th>ग्रेड</th>
                    </thead>
                    
                    <tbody>
                        <%for(let i=1;i<subjects.length;i++){%>
                            <tr>
                                <td><%=subjectsMapping[subjects[i]]%></td>
                                <td><b><%=grades[addtionalMarks['MORAL']['_doc'][subjects[i]]]%></b></td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="co-ed-section">
            <label style="text-align: center; font-size: large; font-weight: bold;padding-bottom: 1%;margin-top: 2%; width: 100%;">सह शैक्षिक क्षेत्र</label>
            <table border="1px solid black">
                <thead>
                    <tr>
                        <td>साहित्यिक</td>
                        <td>सांस्कृतिक</td>
                        <td>वैज्ञानिक</td>
                        <td>सृजनात्मक</td>
                        <td>खेलकूद</td>
                    </tr>
                    
                </thead>
                <tbody>
                    
                    <% let subs = Object.keys(addtionalMarks['COED']['_doc'])%>
                    <%for(let i=1;i<Object.keys(addtionalMarks['COED']['_doc']).length;i++){%>
                        <td><b><%= grades[Number(addtionalMarks['COED']['_doc'][subs[i]])]%></b></td>
                    <%}%>
                </tbody>
            </table>
        </div>
        <div>
            <label style="text-align: center; font-size: large; font-weight: bold;padding-bottom: 1%;margin-top: 1%; width: 100%;">ग्रेडिंग व्यवस्था का विवरण</label>
            
            <table border="1px solid black">
                <tr>
                    <td>ग्रेड</td>
                    <td>A+</td>
                    <td>A</td>
                    <td>B+</td>
                    <td>B</td>
                    <td>C+</td>
                    <td>C</td>
                    <td>D</td>
                    <td>F</td>
                    
                </tr>
                <tr>
                    <td>प्राप्तांक</td>
                    <td>>85</td>
                    <td>76-85</td>
                    <td>66-75</td>
                    <td>56-65</td>
                    <td>51-55</td>
                    <td>46-50</td>
                    <td>33-45</td>
                    <td><33</td>
                </tr>
            </table>
        </div>
        <h6 style="margin-top: 2%;font-size: 16px;">
            परीक्षा परिणाम : 
            <%if(mysum/sub_list.length > 33){%>
                <b>उत्तीर्ण</b>
            <%}else{%>
                <b>अनुत्तीर्ण</b>
            <%}%>
        </h6>
        <h6 style="font-size: 16px;">प्रतिशत : <%=(mysum/sub_list.length).toString().substring(0,5)%></h6>
        
        <div class="official-section" style="font-size: 16px;">
            <div class="signature">
                <div class="role">Principal's Signature:</div>
                <div class="date">Date:</div>
            </div>
            <div class="signature">
                <div class="role">Class Teacher's Signature:</div>
                <div class="date">Date:</div>
            </div>
            <!--
            <div class="signature">
                <div class="role">Parent's Signature:</div>
                <div class="date">Date:</div>
            </div>
            -->
        </div>
        <label style="margin-top: 1%;">वार्षिक परीक्षा प्रगति पत्रक संस्था प्रमुख के हस्ताक्षर एवं पदमुद्रा के बाद ही मान्य होगा</label>
    
    </div>
    
</body>

    <div>
        <button style="display: none;" id="download-marksheet" class="btn btn-success my-4 download-button">Download</button>
    </div>

    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js" integrity="sha512-w3u9q/DeneCSwUDjhiMNibTRh/1i/gScBVp2imNVAMCt6cUHIw6xzhzcPFIaL3Q1EbI2l+nu17q2aLJJLo4ZYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/pdfCreator.js"></script>
<script src="/js/getMarksheet.js"></script>




