<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="/css/tc_details.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js" integrity="sha512-w3u9q/DeneCSwUDjhiMNibTRh/1i/gScBVp2imNVAMCt6cUHIw6xzhzcPFIaL3Q1EbI2l+nu17q2aLJJLo4ZYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<body id="tc-body">
    
    <div class="main-container">
        <div class="sub-container">
            <div class="hidden-values">
                <input type="hidden" id="student_name" value="<%=student.FirstName%> <%=student.LastName%>">
                <input type="hidden" id="admno" value="<%= student.AdmissionNo%>">
            </div>
            <div style="margin-left: 4%;">
                <img src="/images/new_creation_logo.JPG" alt="" srcset="">
            </div>
            <div class="heading">
                <h1>Transfer Certificate</h1>
            </div>
            <div class="basic-details">
                <label>Admission No : <%= student.AdmissionNo%></label>
                <label>TC No: 1254</label>
            </div>

            <div class="basic-details">
                <label>Admission Class</label>
                <label>Admission Date</label>
            </div>
            
            <div class="content">
                This is to certify that <b> <%=student.FirstName%> <%=student.LastName%> </b>father's name <b> <%=student.FathersName%> </b> mother's name <b> <%=student.MothersName%> </b> religion <%=student.Religion%>
                caste <%=student.Caste%> attended SCHOOL_NAME from ADMISSION_DATE to LEAVING_DATE and now leaves on LEAVING_DATE paying all fees.
            </div>

            <div class="content">
                His/Her date of birth as per school record was <%=student.DOB%> in words DOB_IN_WORDS.
            </div>

            <div class="content">
                The last promotion examination appeared by him/her was <%=student.Class%>> in the year LAST_YEAR_IN_SCHOOL and his/her result was LAST_CLASS_RESULT.
            </div>

            <div class="content">
                He/She was enrolled in class ADMISSION_CLASS , He/She has been vaccinated or is otherwise protected from small pox.
                His/Her conduct was CONDUCT and leaves the school on account of LEAVING DATE
            </div>
            <div class="basic-details">
                <div>
                    date
                </div>

                <div>
                    Principal
                </div>
            </div>

            
        </div>
    </div>

    
</body>
<div>
    <button id="tc-download" class="btn btn-warning">Download</button>
</div>
<script src="/js/pdfCreator.js"></script>